# Node / Package Manager
node_modules/
.pnpm-store/

# Next.js
.next/
out/
dist/
build/
.turbo/

# Env
.env
.env.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS / Editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# Vercel
.vercel/